# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = CarlosBordachar
	email = git@carlosbordachar.com

[color "status"]
    header = black normal
    added = green normal
    changed = yellow normal
    untracked = cyan normal
    branch = green normal
    nobranch = normal normal
    unmerged = red normal

[color "branch"]
	current = reverse green normal bold
	local = green
	remote = red

[core]
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictStyle = zdiff3

[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig

[delta]
	features = catppuccin-macchiato
	side-by-side = true
	navigate = true  # use n and N to move between diff sections

[alias]
    st = status
    br = branch --verbose --verbose --all
    co = checkout

    # commits
    ci = commit --verbose --edit
    cim = commit --verbose --edit --message

    # custom log
    lg = log --pretty=tformat:'%C(yellow)%h%C(reset)%C(auto)%d%C(reset) - %C()%s%C(reset) %C(italic magenta)(%ad)%C(reset) %C(italic dim blue):%an%C(reset)' --decorate --graph --abbrev-commit --date=relative

    # custom log tab
    lgt = log --pretty=tformat:'%C(yellow)%h %C(magenta)%>(18,trunc)%ad %C(italic dim blue)%<(12,trunc)%an %C(reset)%s%C(auto)%d' --decorate --graph --abbrev-commit --date=iso

    # ########################################### #
    # requires fzf-git.sh sourced in bash_aliases #
    # ########################################### #

    # commit fixup
    cifix = !bash -ic _fzf_git_hashes | xargs -o git commit --fixup

    # rebase interactive
    rbi = !bash -ic _fzf_git_hashes | xargs -o git rebase --interactive --autosquash

