layout {

    focus-ring {
        active-color   "#ad8ee6" // dark mauve
        inactive-color "#fab387" // peach
        urgent-color   "#f38ba8" // red
    }

    border {
        active-color   "#ad8ee6" // dark mauve
        inactive-color "#585b70" // surface2
        urgent-color   "#f38ba8" // red
    }

    shadow {
        color "#11111b70"
    }

    tab-indicator {
        active-color   "#ad8ee6" // dark mauve
        inactive-color "#f5a97f" // peach
        urgent-color   "#f38ba8" // red
    }

    insert-hint {
        color "#ad8ee680" // dark mauve
    }
}

recent-windows {
    highlight {
        active-color "#ad8ee6" // dark mauve
        urgent-color "#f38ba8" // red
    }
}
