/* Transparent BAR */
window#waybar,
window.principal#waybar {
    background: transparent;
    border-bottom: none;
}

#custom-launcher,
#workspaces,
#mpris,
#window,
#hardware,
#language,
#keyboard-state,
#tray,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#battery,
#clock,
#custom-power {
    margin-bottom: 0px;
}

#custom-launcher {
    margin-left: 15px;
}

#custom-power {
    margin-right: 15px;
}
