@import "themes/catppuccin-macchiato.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: 600;
    font-size: 14px;
    min-height: 0;
    transition: all 0.1s ease;
}

window#waybar,
window.principal#waybar {
    color:@subtext0;
}

tooltip {
    background: @base;
    border: 1px solid @surface2;
}

tooltip label {
    color: @subtext0;
}

#workspaces button {
    border-radius: 8px 8px 3px 3px;
    padding: 5px;
    margin-right: 5px;
    box-shadow: none;
    text-shadow: none;
    color: @subtext0;
}

#workspaces button.empty {
    color: @surface2;
}

#workspaces button.active {
    color: @peach;
}

#workspaces button.focused {
    border-bottom: 2px solid @mauve;
    padding-bottom: 3px;
    background: @mantle;
    color: @mauve;
}

#workspaces button.urgent {
    border-radius: 10px;
    background: @red;
    color: @base;
}

#workspaces button:hover {
    border-radius: 8px;
    background: @subtext0;
    color: @base;
}

#custom-launcher,
#workspaces,
#mpris,
#window,
#hardware,
#language,
#keyboard-state,
#tray,
#network,
#bluetooth,
#backlight,
#pulseaudio,
#battery,
#clock, 
#custom-power {
    /* border: 1px solid currentColor; */
    border-radius: 6px;
    padding: 0px 10px;
    margin: 7px 4px;
    background: @base;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#mpris.paused {
    background: @surface2;
    color: @base;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

#hardware,
#temperature,
#cpu,
#memory,
#disk {
    padding: 0px 5px;
    color: @overlay1;
}

#temperature.warning {
    color: @yellow;
}

#temperature.critical {
    color: @red;
}

#language,
#keyboard-state label {
    color: @overlay1;
}

#keyboard-state label.capslock.locked {
    color: @mauve;
}

#tray {
    border-radius: 10px 4px 4px 10px;
}

#network {
    color: @subtext0;
}

#network.disable,
#network.disconnected {
    color: @red;
}

#bluetooth,
#bluetooth.no-controller {
    color: @overlay1;
}

#bluetooth.off,
#bluetooth.disabled {
    color: @red;
}

#bluetooth.on {
    color: @subtext0;
}

#bluetooth.pairable {
    color: @teal;
}

#bluetooth.connected {
    color: @blue;
}

@keyframes blinkToMauve {
    to {
        color: @mauve;
    }
}

#bluetooth.discoverable,
#bluetooth.discovering {
    color: @blue;
    animation-name: blinkToMauve;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted,
#pulseaudio.microphone.source-muted {
    color: @red;
}

#pulseaudio,
#pulseaudio.microphone {
    color: @teal;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

@keyframes blinkToRed {
    to {
        color: @red;
    }
}

#battery.critical:not(.charging) {
    color: @yellow;
    /* border-bottom: 2px solid #bf616a; */
    animation-name: blinkToRed;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    color: @lavender;
}

#custom-power {
    color: @maroon;
}

#custom-power:hover {
    background: @maroon;
    color: @base;
}

/* PILLS */
#hardware {
    border-radius: 6px 0px 0px 6px;
    margin-right: -3px;
}

#language {
    border-radius: 0px;
    margin-left: -3px;
    margin-right: -5px;
}

#keyboard-state {
    border-radius: 0px 6px 6px 0px;
    margin-left: -5px;
}

#network {
    border-radius: 6px 0px 0px 6px;
    margin-right: -3px;
}

#bluetooth {
    border-radius: 0px 6px 6px 0px;
    margin-left: -3px;
}

#pulseaudio:not(.microphone) {
    border-radius: 6px 0px 0px 6px;
    margin-right: -3px;
}

#pulseaudio.microphone {
    border-radius: 0px 6px 6px 0px;
    margin-left: -3px;
}

/* Apply TRANSPARENT or SOLID background */
@import "bg-solid.css";
@import "bg-transparent.css";

