* {
	background-image: none;
	box-shadow: none;
}

window {
    background-color: rgba(24, 25, 38, 0.95); /* crust */
}

button {
	color: #cad3f5; /* text */
	border: 3px solid #585b70; /* surface2 */
    border-radius: 12px;
    background-color: #1e2030; /* mantle */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 10px;
    text-decoration-color: #cad3f5; /* text */
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(53, 57, 75);
    border-color: #ad8ee6; /* dark mauve */
    outline-style: none;
}


#lock {
    background-image: url("icons/lock.svg");
}

#logout {
    background-image: url("icons/logout.svg");
}

#suspend {
    background-image: url("icons/suspend.svg");
}

#hibernate {
    background-image: url("icons/hibernate.svg");
}

#shutdown {
    background-image: url("icons/shutdown.svg");
}

#reboot {
    background-image: url("icons/reboot.svg");
}
